<div class="container">
  
    <h2>List Of Registered Users</h2>
    
    <table class="table">
      <thead>
        <tr>
           
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
           
        <tr class="success" *ngFor="let u of users" [routerLink]="['/edit', u.id]">
          <td>{{u.fname}}</td>
          <td>{{u.lname}}</td>
          <td>{{u.email}}</td>
          <td>{{u.phone}}</td>
        </tr>

      </tbody>
    </table>
    
  
  </div>
