<div>
   <div class="sidenavbar" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <app-sidebarlist></app-sidebarlist> 
      
    </li>

        <!-- <li class="nav-item active" *ngFor="let u of users" (click)="onclick(u.id)">
          <a  class="nav-link">{{u.name}}</a>
        </li> -->
        
    </ul>

   </div>
   
   <div class="display">
        <h3 class="h3">Firstname: {{fname}}</h3>
       <br>
       <h3 class="h3">Lastname: {{lname}}</h3>
       <br>
       <h3 class="h3">Email: {{email}}</h3><br>
       <h3 class="h3">Phone: {{phone}}</h3><br>
       <h3 class="h3">State: {{state}}</h3><br>
       <h3 class="h3">City: {{city}}</h3>
       
        
       
   </div>
</div>
