<div class="container-fluid" style="position: absolute; left: 30%;">
    <h1>Sign Up Form</h1>
    <form [formGroup]="reactive" (ngSubmit)="onclickSubmit()">
      <div class="form-group">
        <label>Firstname</label>
        <input formControlName="fname" type="text" required class="form-control">
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('fname').valid) && (reactive.get('fname').touched)">This field cannot be empty</span >
      </div>
      <div class="form-group">
        <label>Lastname</label>
        <input formControlName="lname" type="text" required class="form-control">
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('lname').valid) && (reactive.get('lname').touched)">This field cannot be empty</span>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input formControlName="phone" type="number" min="10" required max="10" class="form-control">
        
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('phone').valid) && (reactive.get('phone').touched)">This field cannot be empty/Lessthan 10 size</span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" type="email" required class="form-control">
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('email').valid) && (reactive.get('email').touched)">This field cannot be empty</span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input formControlName="password" type="password" required class="form-control">
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('password').valid) && (reactive.get('password').touched)">This field cannot be empty</span>
        
      </div>
      <div class="form-group">
        <label>Re-Type Password</label>
        <input  formControlName="con_password" type="password" required class="form-control">
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('con_password').valid) && (reactive.get('con_password').touched)">This field cannot be empty</span>
      </div>
      <div class="form-group">
        <label>State</label>
        <select (change)="getSelectedOptionText($event)" required class="selectbox" formControlName="selected_state">
          
          <option *ngFor="let s of state " class="dropdown-item">{{s}}</option>
  
        </select>
        
  
        <label>City</label>
        <select class="selectbox"  required formControlName="selected_city">
          
          <option *ngFor="let s of  selectedstate " class="dropdown-item">{{s}}</option>
  
        </select>
        <span class ="help-block" style="color: red;" *ngIf="(!reactive.get('lname').valid) && (reactive.get('lname').touched)">Please select</span>
  
       
      </div>
      <div class="btnlocation" >
        <input type="submit" class="btn btn-primary" [disabled]="!reactive.valid" value="Submit">
      </div>
<router-outlet></router-outlet>